---
group: Prototypes
title: Long List Preview
layout: abs/views/_social
---


{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/accordion/_macro.njk" import onsAccordion %}

{% block main %}
<div class="ons-col-8@m">
<h2>Preview of the questions you may be asked in this survey</h2>
<div class="ons-panel ons-panel--info ons-panel--no-title">
    <span class="ons-u-vh">Important information: </span>
    <div class="ons-panel__body">
        <p>To answer these questions you need to <a href="../start">start survey</a></p>
    </div>
</div>

        <br>
        <p>You may not have to answer all of these questions. The questions you see will depend on the answers you provide.</p>

<br>



<!--NEW BUILD-->
<div id="accordion-example" class="ons-accordion">
  <button type="button"
    class="ons-btn ons-accordion__toggle-all ons-u-mb-s ons-btn--secondary ons-btn--small"
    data-close-all="Hide all" data-group="accordion-example">
    <span class="ons-btn__inner ons-accordion__toggle-all-inner"><span class="ons-btn__text">Show all</span>
    </span>
  </button>
  <div id="accordion-example-1" class="ons-details ons-js-details ons-details--accordion"
    data-group="accordion-example">
    <div class="ons-details__heading ons-js-details-heading" role="button">
      <h2 class="ons-details__title">Goods and services</h2>
      <span class="ons-details__icon">
        <svg class="ons-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
          fill="currentColor">
          <path
            d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
            transform="translate(-5.02 -1.59)" />
        </svg></span>
    </div>
    <div id="accordion-example-1-content" class="ons-details__content ons-js-details-content">
      <div class="ons-summary__group">
                    <table class="ons-summary__items">
                        <thead class="ons-u-vh">
                        <tr>
                            <th>Question</th>
                        </tr>
                        </thead>


                        <tbody class="ons-summary__item">
                        <tr class="ons-summary__row ons-summary__row--has-values">
                            <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                <div class="ons-summary__item--text ons-u-fs-m">Which of the following goods or services have you purchased during the last month?
                                </div>
                                <br>
                                <p>Select all that apply</p>
                                
                                <br>
                                <ul>
                                    <li>Blackout roller blinds (including vertical and roman blinds)</li>
                                    <li>Ottomans and storage trunks</li>
                                    <li>Outdoor dining and picnic sets</li>
                                    <li>Garden furniture (including parasols and bases)</li>
                                    <li>Garden entertaining (including BBQ’s, pizza ovens, chimineas, and firepits)</li>
                                    <li>Indoor and outdoor LED lights and lightbulbs</li>
                                    <li>Kitchen appliances (including kettles, cookers, fridge/freezers, microwaves)</li>
                                    <li>Home entertainment (including TV’s, radio’s, smart speakers, surround sound, cinema systems)</li>
                                    <li>TV Subscription services</li>
                                    <li>Motor vehicles (including motorcycles and motorhomes)</li>
                                    <li>Children’s clothing</li>
                                    <li>Real estate (including mortgage and rental costs)</li>
                                    <li>Safety workwear (including boilersuits, footwear, safety glasses, protective gloves, and harnesses)</li>
                                    <li>Dehumidifiers, extractor fans, and air conditioning systems</li>
                                    <li>Power tools (including drills, saws, angle grinders, nail guns, and planers)</li>
                                    <li>Showering furniture (including electric, mixer, and power showers, trays, and enclosures)</li>
                                    <li>Women’s clothing</li>
                                    <li>Laundry and utility (including clothes airers and lines, irons and boards, and laundry baskets)</li>
                                    <li>Fires, stoves, and heaters (including fire surrounds, electric, and oil heaters)</li>
                                    <li>Garden playhouses, swings, and trampolines</li>
                                    <li>Indoor gym equipment</li>
                                    <li>Men’s clothing</li>
                                    <li>Segways and electric scooters</li>
                                    <li>Home security systems (including smoke and carbon monoxide alarms)</li>
                                    <li>Shelving systems, units, and storage cubes or baskets</li>
                                    <li>Artificial flowers and plants</li>
                                    <li>Fruit storage (including pitaya boxes)</li>
                                    <li>Mobile telephone contract payments</li>
                                    <li>Travel suitcases, bags</li>
                                    <li>Sofas, armchairs, chairs, and stools</li>
                                    <li>Table and desk lamps (excluding ceiling and wall lights)</li>
                                    <li>Paint and wallpaper</li>
                                    <li>Made-to-measure curtains and blinds</li>
                                    <li>Tablecloths, table mats, and coasters</li>
                                    <li>Workbenches, trestles (including workbenches with lockable cupboards)</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                       </table> 
                       </div> 
                       </div> 
                       </div> 
  <div id="accordion-example-2" class="ons-details ons-js-details ons-details--accordion"
    data-group="accordion-example">
    <div class="ons-details__heading ons-js-details-heading" role="button">
      <h2 class="ons-details__title">Purchases</h2>
      <span class="ons-details__icon">
        <svg class="ons-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
          fill="currentColor">
          <path
            d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
            transform="translate(-5.02 -1.59)" />
        </svg></span>
    </div>
    <div id="accordion-example-2-content" class="ons-details__content ons-js-details-content" style="border: 5px #206095 solid;">
      <div class="ons-summary__group">
                    <table class="ons-summary__items">
                        <thead class="ons-u-vh">
                        <tr>
                            <th>Question</th>
                            <th>Guidance</th>
                        </tr>
                        </thead>


                        <tbody class="ons-summary__item">
                        <div class="ons-question__instruction ons-u-mb-no" style="background-color: #206095;color: white; border:none;">
                                <p><strong>You are able to modify this list</strong></p>
                                <p>If you need to add more good and services you are able to add these or modify the list</p>
                            </div>
                        <tr class="ons-summary__row ons-summary__row--has-values">
                            <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                <div class="ons-summary__item--text ons-u-fs-m">Goods and services you have purchased in the last month</div>
                                <br>
                                
                                <div class="ons-panel ons-panel--info ons-panel--no-title">
                                    <div class="ons-panel__body">
                                        <p>Follow-up questions will inquire about the <strong>expenditure</strong> for each good and service.</p>
                                    </div>
                                </div>
                                <br>
                                <p>Your list of goods and services will be shown</p>
                            </td>
                        </tr>
                        </tbody>
                        
                        
                        
                    </table>

                </div>
    </div>
  </div>
  <div id="accordion-example-3" class="ons-details ons-js-details ons-details--accordion"
    data-group="accordion-example">
    <div class="ons-details__heading ons-js-details-heading" role="button">
      <h2 class="ons-details__title">Expenses</h2>
      <span class="ons-details__icon">
        <svg class="ons-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
          fill="currentColor">
          <path
            d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
            transform="translate(-5.02 -1.59)" />
        </svg></span>
    </div>
    <div id="accordion-example-3-content" class="ons-details__content ons-js-details-content">
      <div class="ons-summary__group">
                    <table class="ons-summary__items">
                        <thead class="ons-u-vh">
                        <tr>
                            <th>Question</th>
                            <th>Guidance</th>
                        </tr>
                        </thead>


                        <tbody class="ons-summary__item">

                        <tr class="ons-summary__row ons-summary__row--has-values">
                                <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                <div class="ons-summary__item--text ons-u-fs-m">What was your expenditure on these services?</div>
                                <br>
                                
                                <p><strong>To the nearest thousand pounds</strong></p>
                                <p>Enter a value to the nearest £ (e.g. 56,000). Do not enter ‘56’ for £56,000.</p>
<br>

                            </td>
                        </tr>
                        </tbody>
                        
                    </table>

                    

                </div>
    </div>
  </div>



  <div id="accordion-example-6" class="ons-details ons-js-details ons-details--accordion"
    data-group="accordion-example">
    <div class="ons-details__heading ons-js-details-heading" role="button">
      <h2 class="ons-details__title">Comments</h2>
      <span class="ons-details__icon">
        <svg class="ons-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
          fill="currentColor">
          <path
            d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
            transform="translate(-5.02 -1.59)" />
        </svg></span>
    </div>
    <div id="accordion-example-6-content" class="ons-details__content ons-js-details-content" >
      <div class="ons-summary__group">
                    <table class="ons-summary__items">
                        <thead class="ons-u-vh">
                        <tr>
                            <th>Question</th>
                            <th>Guidance</th>
                        </tr>
                        </thead>

                        <tbody class="ons-summary__item">

                        <tr
                                class="ons-summary__row ons-summary__row--has-values">
                            <td class="ons-summary__item-title">

                                <div class="ons-summary__item--text ons-u-fs-m">Please provide any further details that will help us understand your figures and tell an industry story</div>
                                <br>
                                <p>Explain any changes in your figures from your previous return, if applicable. If you provide comments, we are less likely to contact you with data queries.</p>
                                <div class="ons-panel ons-panel--info ons-panel--no-title">
                                    <div class="ons-panel__body">
                                        <p><strong>Please include details of:</strong></p>

                                        <ul class="u-fs-r">
                                            <li>any zero figures</li>
                                        </ul>

                                        <p>Any significant impacts upon your data resulting from changes to your business. For example:</p>

                                        <ul class="u-fs-r">
                                            <li>changes to your business structure</li>
                                            <li>type of activity undertaken</li>
                                        </ul>

                                        <p>Changes in the accounting approaches you have taken. For example:</p>
                                        <ul class="u-fs-r">
                                            <li>change of accounting standard such as IFRS</li>
                                            <li>regulatory changes</li>
                                        </ul>
                                        <p>Any significant changes upon your data as a result of the coronavirus (COVID-19) pandemic.</p>
                                    </div>
                                </div>
                                <br>
                                <p><strong>Comments</strong></p>
                                <p>2000 characters can be added.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
    </div>
  </div>
<br>
  

<!--NEW BUILD END-->

<div class="app-back-to-top">
    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#main-content">
        <svg focusable="false" style="margin-right: 10px" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg> Back to top
    </a>
</div></div>

    
</div>
</div>
{% endblock %}