---
group: Design work
title: Confirmation page
layout: confirmation-page/views/_master
---

{% extends "layout/_template.njk" %}
{% set pageConfig = {
    "header": {
        "title": "ONS surveys"
    },
    "footer": {
        "newTabWarning": 'The following links open in a new tab',
        "crest": 'true',
        "copyrightDeclaration":
        {
            "copyright": "Crown copyright and database rights 2020 OS 100019153.",
            "text": "Use of address data is subject to the terms and conditions."
        },
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'What we do',
                        "url": '#0'
                    },
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    },
                    {
                        "text": 'Accessibility',
                        "url": '#0'
                    }
                ]
            }
        ],
        "legal": [
            {
                "itemsList": [
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    },
                    {
                        "text": 'Privacy and data protection',
                        "url": '#0'
                    }
                ]
            }
        ]
    }
} %}

{% block main %}
{% from "components/panel/_macro.njk" import onsPanel %}
{{
    onsPanel({
        "type": 'success',
        "id": 'success-id',
        "iconType": 'check',
        "body": 'Your progress has been saved',
        "classes": 'ons-u-mb-xl ons-u-fs-xl',
        "iconSize": 'xl'
    })
}}
{% from "components/lists/_macro.njk" import onsList %}


<h2 class="ons-u-fs-l ons-u-mt-xl">Business surveys</h2>
<p>If you are completing a business survey, you need to <a href="#">sign in to your account</a>.</p>



<h2 class="ons-u-fs-l">All other surveys</h2>
<p>If you started your survey using an access code, you need to <a href="#">re-enter your access code</a>.</p>
{% endblock %}