---
group: Design work
title: Confirmation page
layout: confirmation-page/views/_master
---

{% extends "layout/_template.njk" %}
{% set pageConfig = {
    "header": {
        "title": "Example survey",
        "signoutButton": {
            "text": "Save and sign out",
            "iconType": "exit",
            "iconPosition": "after",
            "url": "exit"
        },
        "language": {
            "languages": [
                {
                    "url": "#0",
                    "ISOCode": "en",
                    "text": "English",
                    "current": true
                },
                {
                    "url": "#0",
                    "ISOCode": "cy",
                    "text": "Cymraeg",
                    "current": false
                }
            ]
        }
    },
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "linkClasses": 'js-previous' if prevPage else '',
                "url": '/',
                "text": 'Previous'
            }
        ]
    },
    "footer": {
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    },
                    {
                        "text": 'Cookies and privacy',
                        "url": '#0'
                    }
                ]
            }
        ],
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}
{% block main %}
<h1 class="ons-u-fs-xl">Reporting Details</h1>
<h2 class="ons-u-fs-l">What sector has ESSENTIAL ENTERPRISE LTD. carried out R&D?</h2>
{% from "components/summary/_macro.njk" import onsSummary %}

{{ onsSummary({
    "classes": "ons-u-mb-l",
    "summaries": [
        {
            "groups": [
                {
                    "rows": [
                        {
                            "rowTitle": "Electronic components & boards (20)",
                            "rowItems": [
                                {
                                    "actions": [
                                        {
                                            "text": "Change",
                                            "ariaLabel": "Change details for Electronic components and boards",
                                            "url": "#0"
                                        },
                                        {
                                            "text": "Remove",
                                            "ariaLabel": "Remove Electronic components and boards",
                                            "url": "#0"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "rowTitle": "Consumer Electronics (23)",
                            "rowItems": [
                                {
                                    "actions": [
                                        {
                                            "text": "Change",
                                            "ariaLabel": "Change details for Consumer Electronics",
                                            "url": "#0"
                                        },
                                        {
                                            "text": "Remove",
                                            "ariaLabel": "Remove Consumer Electronics",
                                            "url": "#0"
                                        }
                                    ]
                                }
                            ]
                        }
                    ],
                    "summaryLink": {
                        "text": "Add someone to this list",
                        "url": "#0",
                        "attributes": {
                            "data-qa": "add-item-link"
                        }
                    }
                }
            ]
        }
    ]
}) }}
{% endblock %}