{% extends "layout/_template.njk" %}

{% set pageConfig = {
    "header": {
        "title": "PRODCOM Survey",
        "signoutButton": {
            "text": "Save and sign out",
            "iconType": "exit",
            "iconPosition": "after",
            "url": "exit"
        },
        "language": {
            "languages": [
                {
                    "url": "#0",
                    "ISOCode": "en",
                    "text": "English",
                    "current": true
                },
                {
                    "url": "#0",
                    "ISOCode": "cy",
                    "text": "Help",
                    "current": false
                },
                {
                    "url": "#0",
                    "ISOCode": "en",
                    "text": "My account",
                    "current": false
                },
                {
                    "url": "exit",
                    "ISOCode": "en",
                    "text": "Sign out",
                    "current": false
                }
            ]
        }
    },
    
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "linkClasses": 'js-previous' if prevPage else '',
                "url": 'javascript:history.back()',
                "text": 'Previous'
            }
        ]
    },
    "footer": {
        "newTabWarning": 'The following links open in a new tab',
        "crest": 'true',
        "copyrightDeclaration":
        {
            "copyright": "Crown copyright and database rights 2020 OS 100019153.",
            "text": "Use of address data is subject to the terms and conditions."
        },
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'What we do',
                        "url": '#0'
                    },
                    {
                        "text": 'Contact us',
                        "url": '/'
                    },
                    {
                        "text": 'Accessibility',
                        "url": '#0'
                    }
                ]
            }
        ],
        "legal": [
            {
                "itemsList": [
                    {
                        "text": 'Cookies',
                        "url": '#0'
                    },
                    {
                        "text": 'Privacy and data protection',
                        "url": '#0'
                    }
                ]
            }
        ]
    }
} %}


{% block head %}
    <link rel="stylesheet" href="/prototypes/prices/styles.css" />
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
{% endblock %}

{% block preMain %}
{% endblock %}

{% block main %}
{% endblock %}

{% block bodyEnd %}
    <script src="/prototypes/prices/index.js"></script>
    <script src="/prototypes/prices/govuk.js"></script>
  <script>
    window.GOVUKFrontend.initAll()
  </script>
{% endblock %}
