---
group: Prototypes
title: Long List (checkboxes)
layout: long-list-checkboxes/views/_main
---

{% set prevPage = "index" %}
{% set form = {
    "method": "GET",
    "attributes": {
        "action": pageInfo.rootPath + "/question.html"
    }
} %}

{% block preMain %}

{{
    onsBreadcrumbs({
        "ariaLabel": 'Previous',
        "itemsList": [
            {
                "url": '/prototypes/long-list-checkboxes/more-follow-ups/index.html',
                "id": "backlink",
                "text": 'Previous',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}

{% endblock %}

{% block main %}

<form action="/prototypes/long-list-checkboxes/more-follow-ups/question-1-1.html">
    <h1 class="ons-u-fs-xl">Goods and services you have purchased in the last month</h1>

    {{
        onsPanel({
            "body": '<p>Follow-up questions will inquire about the <strong>expenditure</strong> and <strong>satisfaction</strong> for each good and service.</p>',
            "classes": 'ons-u-mb-m'
        })
    }}

<script>
var results = localStorage.getItem("ddvalue");
if (results) {
    // Parse the JSON if there's data
    console.log('theres results');
    results = JSON.parse(results);
    console.log(results);

    document.write(`<div class="ons-summary ons-u-mb-l">
        <div class="ons-summary__group">
            <div class="ons-summary__items">`);

    for (var i = 0; i < results.length; i++) {
        // Check if the current result is an array
        if (results[i]) {
            console.log('new result');
            document.write(`
                <div class="ons-summary__item">
                    <dl class="ons-summary__row">
                        <dt class="ons-summary__item-title">
                            ${results[i]}
                        </dt>
                    </dl>
                </div>`);
        }
    }

    document.write(`</div>
        <div class="ons-summary__link ons-u-pt-s ons-u-bt ons-u-mb-xl">
            <a data-qa="add-item-link" href="#" id="Modify">Modify this list</a>
        </div>
    </div>
</div>`);
}

</script>





{{
    onsButton({
        "text": 'Continue'
    })
}}

</form>

{% endblock %}

{% block scripts %}


{% endblock %}
