---
group: Prototypes
title: Summary Focus Order
layout: summary-focus-order/views/_main
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{% block main %}
    {{
        onsBreadcrumbs({
            "ariaLabel": 'Breadcrumbs',
            "itemsList": [
                {
                    "url": 'summary-1.html',
                    "text": 'Back'
                }
            ]
        })
    }}
        {{
            onsInput({
                    "id": "edit-total-spend",
                    "type": "number",
                    "width": "6",
                    "autocomplete": "off",
                    "value": "270.00",
                    "label": {
                        "text": "How much did you spend on utilities and bills in the last month?"
                    },
                    "prefix": {
                        "title": "British pounds (GBP)",
                        "text": "£",
                        "id": "grocery-spend-gpb-prefix"
                    }
            })
        }}
        {{
            onsButton({
                "text": "Save",
                "classes": "ons-u-mt-l",
                "url": pageInfo.rootPath + "/summary-2.html"
            })
        }}
{% endblock %}