---
group: Prototypes
title: Summary Focus Order
layout: summary-focus-order/views/_main
---
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <h1>Start example prototype</h1>
    <p>This will be the edit answer page.</p>
    {{
        onsButton({
            "text": "Save",
            "classes": "ons-u-mt-l",
            "url": pageInfo.rootPath + "/summary.html"
        })
    }}
{% endblock %}