---
group: Prototypes
title: Summary Focus Order
layout: summary-focus-order/views/_main
---
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
<div aria-labelledby="alert" role="alert" tabindex="-1" class="ons-panel ons-panel--success ons-panel--no-title"
  id="success-id">
  <span id="alert" class="ons-panel__assistive-text ons-u-vh">Completed: </span>
  <span class="ons-panel__icon ons-u-fs-r"><svg class="ons-icon" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg"
      focusable="false" fill="currentColor" role="img" title="ons-icon-check">
      <path
        d="M14.35,3.9l-.71-.71a.5.5,0,0,0-.71,0h0L5.79,10.34,3.07,7.61a.51.51,0,0,0-.71,0l-.71.71a.51.51,0,0,0,0,.71l3.78,3.78a.5.5,0,0,0,.71,0h0L14.35,4.6A.5.5,0,0,0,14.35,3.9Z"
        transform="translate(-1.51 -3.04)" />
    </svg></span>
  <div class="ons-panel__body"> Your changes have been saved. <a href="#utility-spend-row">Go to the last answer you changed.</a> </div>
</div>

{{
    onsSummary({
        "summaries": [
            {
                "title": "Regular Spending",
                "groups": [
                    {
                        "placeholderText": 'test',
                        "id": "grocery-spending",
                        "title": "Groceries",
                        "rows": [
                            {
                                "id": "grocery-spend-row",
                                "title": "How much did you spend on grocery shopping in the last month?",
                                "itemsList": [
                                    {
                                        "id": "grocery-spend",
                                        "valueList": [
                                            {
                                                "text": "£160"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "grocery-spend-frequency-row",
                                "title": "How often did you grocery shop last month?",
                                "itemsList": [
                                    {
                                        "id": "grocery-spend-frequency",
                                        "valueList": [
                                            {
                                                "text": "Weekly"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "/prototypes/summary-focus-order/edit-answer-2.html"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "grocery-spend-type-row",
                                "title": "Was this spend online or in-store?",
                                "itemsList": [
                                    {
                                        "id": "grocery-spend-type",
                                        "valueList": [
                                            {
                                                "text": "In-store"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "placeholderText": 'test',
                        "id": "utility-spending",
                        "title": "Utility & Bills",
                        "rows": [
                            {
                                "id": "utility-spend-row",
                                "title": "How much did you spend on utilities and bills in the last month?",
                                "itemsList": [
                                    {
                                        "id": "utility-spend",
                                        "valueList": [
                                            {
                                                "text": "£290"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "utility-spend-frequency-row",
                                "title": "How regularly do you pay for your utilities and bills?",
                                "itemsList": [
                                    {
                                        "id": "utility-spend-type",
                                        "valueList": [
                                            {
                                                "text": "Monthly"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "placeholderText": 'test',
                        "id": "other-spending",
                        "title": "Clothing and Non-food Items",
                        "rows": [
                            {
                                "id": "other-spend-row",
                                "title": "How much did you spend clothing or non-food items in the last month?",
                                "itemsList": [
                                    {
                                        "id": "other-spend",
                                        "valueList": [
                                            {
                                                "text": "£165"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "other-spend-frequency-row",
                                "title": "How regularly do you spend money on clothing or non-food items?",
                                "itemsList": [
                                    {
                                        "id": "other-spend-type",
                                        "valueList": [
                                            {
                                                "text": "Monthly"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}
{{
    onsButton({
        "text": "Yes, I confirm this is correct",
        "url": pageInfo.rootPath + "/survey-complete.html"
    })
}}
{% endblock %}