---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_hub
---

{% from "components/error/_macro.njk" import onsError %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/question/_macro.njk" import onsQuestion %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/dates-error.html"
    }
} %}

{% block main %}
{% call onsQuestion({
    "title": "Are you able to report for the calendar year 1 Jan 2022 to 31 Dec 2022?",
    "classes": "ons-u-mt-no",
    "legendIsQuestionTitle": true,
    "submitButton": true
}) %}
    

    {% call onsError({
    "text":"You need to select an option",
    "id": "reporting-radios"
    }) %}

    {{
        onsRadios({
            "name": "reporting-radios",
            "id":"reporting-radios",
            "dontWrap": true,
            "radios": [
                {
                    "id": "yes",
                    "attributes": {
                            "data-action-url": pageInfo.rootPath + "/hub.html"
                        },
                    "label": {
                        "text": "Yes, I can report for this period"
                    },
                    "value": "yes",
                    "error": true
                },
                {
                    "id": "no",
                    "attributes": {
                            "data-action-url": pageInfo.rootPath + "/dates2.html"
                        },
                    "label": {
                        "text": "No, I need to report for a different period"
                    },
                    "value": "no",
                    "error": true
                }
            ]
        })
    }}
{% endcall %}

{% endcall %}

{% endblock %}
