---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_main
---

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "details"
    }
} %}

{% block main %}
    {% from "components/summary/_macro.njk" import onsSummary %}
    {% from "components/button/_macro.njk" import onsButton %}

    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xxl">
            What is the contact fax number?
        </h1>
    </header>

{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "text",
        "label": {
            "text": "Fax number"
        }
    })
}}

{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'details',
        "iconType": false
    })
}}
{% endblock %}
