---
group: Design work
title: Save and sign out confirmation
layout: prodcom/views/_index
---

{% block main %}

{% from "components/panel/_macro.njk" import onsPanel %}
{{
    onsPanel({
        "type": 'success',
        "id": 'success-id',
        "iconType": 'check',
        "body": 'Your progress has been saved',
        "classes": 'ons-u-mb-xl ons-u-fs-xl',
        "iconSize": 'xl'
    })
}}
{% from "components/lists/_macro.njk" import onsList %}

<h2 class="ons-u-fs-l">Social surveys</h2>
<p>As you started your survey using an access code, you need to <a href="#">re-enter your access code</a>.</p>

{% endblock %}