---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_index
---

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/dates.html"
    }
} %}

{% block main %}

<h1 class="ons-u-fs-xl">You are completing this for ESSENTIAL ENTERPRISE LTD. (ESSENTIAL ENTERPRISE LTD.)</h1>

<p>If your company details have changed:</p>
<ul>
    <li>contact us on <a href="#">0300 1234 931</a></li>
    <li><a href="#">email surveys@ons.gov.uk</a></p></li>
</ul>

<p>The UK Manufacturer's Sales by Product (PRODCOM) measures sales of products by UK manufacturers.</p>

{% from "components/panel/_macro.njk" import onsPanel %}

{% call onsPanel({
        "type": 'warn'
    })
%}
Your response is legally required under section 1 of the <a href="#">Statistics of Trade Act 1947</a>.
{% endcall %}

<h2 class="ons-u-mt-l">Before you start</h2>
<p>To complete the survey, you will need information on:</p>
<ul>
    <li>stock owned by your business (in the UK and abroad)</li>
    <li>stock held by your business</li>
    <li>stock in transit within the UK</li>
</ul>
<p>If actual figures are not available, you can provide informed estimates.</p>

<h2 class="ons-u-mt-l">Complete survey</h2>

{% from "components/button/_macro.njk" import onsButton %}
{{
    onsButton({
        "text": "Start survey"
    })
}}

<p class="ons-u-mt-m">You may receive an automatic reminder if you submit data just before or after the return date.</p>

<h2 class="ons-u-fs-l ons-u-mt-l">Information you need</h2>
<p>This questionnaire is divided into sections, which ask for information about:</p>

{% from "components/accordion/_macro.njk" import onsAccordion %}

{{
    onsAccordion({
        "id": "accordion",
         "allButton": {
            "open": "Show all",
            "close": "Hide all"
        },
        "itemsList": [
            {
                "title": "Reporting period",
                "content": "<p>You will be asked to report for 01 Jan 2022 to 31 Dec 2022. If you are unable to provide figures for this period, you will have the option to choose your own dates.</p>"
            },
            {
                "title": "Products",
                "content": "<p>These sections ask for the net selling value of a range of products.</p>
                <p>Some products will be listed, and any additional products will need to be provided.</p>"
            },
            {
                "title": "Other income",
                "content": "<p>This section asks for information regarding your business's other income, if applicable.</p><p>This includes:</p> <ul class=\"ons-list\"><li class=\"ons-list__item\">merchanted goods</li><li class=\"ons-list__item\">work done</li><li class=\"ons-list__item\">waste products</li><li class=\"ons-list__item\">non-production income</li></ul>"
            },
            {
                "title": "Company totals",
                "content": "<p>This section asks for your business's total turnover.</p>"
            }
        ]
    })
}}

<h2 class="ons-u-fs-l ons-u-mt-m">Why you have receieved this survey</h2>
<p>YOur business has been selected from a directory of businesses in the UK which are registered fot VAT and/or PAYE or with Companies House.</p>
<p>The information supplied feeds into the <a href="#">National Accounts</a> and the <a href="#">Producer Price Index</a>.</p>

<h2 class="ons-u-fs-l ons-u-mt-m">If you need help</h2>
<p>For more information about business surveys, see <a href="#">About ONS business surveys</a>.</p>
<p>You can call us on:
<ul>
    <li><a href="tel:03001234931">0300 1234 931</a> (UK)</li>
    <li><a href="tel:+441633810495">+44 1633 810495</a> (outside of the UK)</li>
</ul>
<p>When you call, please enter the three-digit ID <strong>014</strong>.</p>
<p>Er mwyn gwneud cais am ffurflen Gymraeg (to speak to someone in Welsh): <a href="tel:03001234921">0300 1234 921</a>.</p>

{% endblock %}
