---
group: Surveys
title: PRODCOM survey | enter dates
layout: prodcom/views/_hub
---

{% block main %}

<h1>How long have you lived at <em class="js-piped-answer" data-question-to-pipe="/prototypes/prodcom/dates.html">{x}</em>?</h1> <p>check the key stored in session and use it for the data-question-to-pipe attr with js-piped-answer class on html element you’re replacing</p>
<p>Piping - this uses the data collected by the questions manager and pipes the answer into another page, e.g. into the wording of another question. To use it add the .js-piped-answer class to the element you want to pipe the answer into along with a {x} where in that element you want to pipe it. Then add the data-question-to-pipe attribute too and set it to the url of the page you want to pipe the answer from.</p>

    <div class="ons-summary">
        <div class="ons-summary__group">
            <h2 class="ons-summary__group-title">Turnover</h2>
            <table id="turnover" class="ons-summary__items js-summary">
            </table>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ site.baseUrl }}js/main.js?t={{ cacheTime }}"></script>
{% endblock %}
