---
group: Prototypes
title: PRODCOM (June 2nd)
layout: prodcom/views/_index
---

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/section-a-list-collector-3"
    }
} %}

{% block main %}

<div class="ons-question ons-u-mb-l">
    <h1 id="question-title" class="ons-question__title">
            For the period 1 January 2022 to 31 December 2022, what was the sales value and volume of Crude vegetable oils?</h1>
    <div class="ons-question__description ons-u-mb-m">
        <p>(CN 15071010 + 15071090 + 15122110 + 15122190 + 15131310 + 15131191 + 15131199 + 15132110 + 15132130 + 15132190 + 151511 + 15155011 + 15155019 + 15159021 + 15159029 + 15159040 + 15159059)</p>
    </div>
</div>

<div class="ons-panel ons-panel--info ons-panel--no-title">
  <span class="o521ns-panel__assistive-text ons-u-vh">Important information: </span>
  <div class="ons-panel__body">
    <h4>Exclude</h4>
    <ul>
        <li>palm oil</li>
        <li>rape, colza or mustard oil</li>
        <li>sunflower seed of safflower oil</li>
        <li>olive oil</li>
        <li>groundnut oil</li>
        <li>chemically modified oils</li>
    </ul>
  </div>
</div>

{{
    onsInput({
        "id": "prefixed",
        "type": "number",
        "width": "10",
        "autocomplete": "off",
        "label": {
            "text": "Value of sales",
            "description": "(104129101) If you do not know the exact amount enter a value to the nearest thousand. For example, 56,000."
        },
        "prefix": {
            "title": "British pounds (GBP)",
            "text": "£",
            "id": "value-of-sales"
        }
    })
}}

<div class="ons-field">
  <label class="ons-label ons-label--with-description" aria-describedby="description-hint" for="text">Volume of sales (Kilogram)</label>
  <span id="description-hint" class="ons-label__description  ons-input--with-description">(104129102) If you do not know the exact amount enter a value to the nearest thousand. For example, 56,000.</span>
  <input type="text" id="volume-1" name="volume-1" class="ons-input ons-input--text ons-input-type__input ons-input--w-8"
    aria-describedby="description-hint" />
</div>

<div class="ons-u-mt-xl">

{{
    onsButton({
        "text": 'Save and continue'
    })
}}

</div>
{% endblock %}