---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_main
---

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "survey-sections-b"
    }
} %}

{% block main %}
    {% from "components/summary/_macro.njk" import onsSummary %}
    {% from "components/button/_macro.njk" import onsButton %}


{% from "components/summary/_macro.njk" import onsSummary %}

<header class="ons-patternlib-page__content-header">
    <h1 class="ons-u-fs-xl">
            <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section A</span>
        Summary of products
    </h1>
</header>

{{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "groupTitle": "Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement",
                        "rows": [
                            {
                                "rowTitle": "Value of sales",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,274,000.00"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Volume of sales (Tonnes)",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "882,377"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Total produced (Tonnes)",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "1,000,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "groupTitle": "Esters of salicylic acid and their salts",
                        "rows": [
                            {
                                "rowTitle": "Value of sales",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£274,000.00"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "groupTitle": "Oleic, linoleic or linolenic acids, their salts and esters",
                        "rows": [
                            {
                                "rowTitle": "Value of sales",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£218,000.00"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Volume of sales (Kilograms)",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "3659"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}


<!-- OLD LAYOUT
<div class="ons-summary ons-u-mb-l">
  <div class="ons-summary__group">
    <div class="ons-summary__items">
      <div class="ons-summary__item">
        <dl class="ons-summary__row">
          <dt class="ons-summary__item-title extra-flex">
           
            <div class="ons-summary__item--text">
                <h4>Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement</h4>
                Value of sales:<strong> £1,274,000</strong><br>
                Volume of sales (Tonnes):<strong> 882,377</strong><br>
                Total produced (Tonnes):<strong> 1,000,000</strong>
            </div>
          </dt>
          <dd class="ons-summary__actions">
            <a href="section-a" class="ons-summary__button" aria-label="Change details for example product">Change</a>
          </dd>
        </dl>
      </div>

      <div class="ons-summary__item">
        <dl class="ons-summary__row">
          <dt class="ons-summary__item-title extra-flex">
           
            <div class="ons-summary__item--text">
                <h4>Esters of salicylic acid and their salts</h4>
                Value of sales:<strong> £274,000</strong>
            </div>
          </dt>
          <dd class="ons-summary__actions">
            <a href="section-a" class="ons-summary__button" aria-label="Change details for example product">Change</a>
          </dd>
        </dl>
      </div>

      <div class="ons-summary__item">
        <dl class="ons-summary__row">
          <dt class="ons-summary__item-title extra-flex">
           
            <div class="ons-summary__item--text">
                <h4>Oleic, linoleic or linolenic acids, their salts and esters</h4>
                Value of sales:<strong> £218,000</strong><br>
                Volume of sales (Kilograms):<strong> 3659</strong><br>
            </div>
          </dt>
          <dd class="ons-summary__actions">
            <a href="section-a" class="ons-summary__button" aria-label="Change details for example product">Change</a>
          </dd>
        </dl>
      </div>

  </div>
</div>
-->
{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'survey-sections-b',
        "iconType": false
    })
}}
{% endblock %}
