---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_main
---

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "survey-sections-c"
    }
} %}

{% block main %}
    {% from "components/summary/_macro.njk" import onsSummary %}
    {% from "components/button/_macro.njk" import onsButton %}

    <div class="ons-summary">
  <div id="turnover" class="ons-summary__group">
            <h1>Summary of additional products</h1>
    <div class="ons-summary__items">
      <div id="sales-dates-row" class="ons-summary__item">
        <dl class="ons-summary__row ons-summary__row--has-values" id="sales-dates">
          <dt class="ons-summary__item-title">
            <div class="ons-summary__item--text">Do you need to report additional products?</div>
          </dt>
          <dd class="ons-summary__values">
            <span class="ons-summary__text">Yes</span>
          </dd>
          <dd class="ons-summary__actions">
            <a href="#0" class="ons-summary__button" aria-label="Change answer">Change</a>
          </dd>
        </dl>
      </div>
    </div>

    <div class="ons-summary ons-u-mb-l">
      <div class="ons-summary__group">
        <h3 class="ons-summary__group-title ons-u-mt-l" style="margin-bottom: 0;">Additional products</h3>
        <div class="ons-summary__items">
          <div class="ons-summary__item">
            <dl class="ons-summary__row">
              <dt class="ons-summary__item-title">
                <div class="ons-summary__item--text">Example product described in as much detail as possible using basic terminology, brand names, common usage names or brief advertising/marketing material</div>
              </dt>
              <dd class="ons-summary__actions">
                <a href="#0" class="ons-summary__button" aria-label="Change details for Barry Scott">Change</a>
              </dd>
            </dl>
          </div>
          <div class="ons-summary__item">
            <dl class="ons-summary__row">
              <dt class="ons-summary__item-title">
                <div class="ons-summary__item--text">Another example product
                </div>
              </dt>
              <dd class="ons-summary__actions">
                <a href="#0" class="ons-summary__button" aria-label="Change details for Susan Gill">Change</a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="ons-summary__link ons-u-pt-s ons-u-bt ons-u-mb-xl">
          <a data-qa="add-item-link" href="section-b">Add another product to this list</a>
        </div>
      </div>
    </div>

    <div class="ons-summary__items">
      <div id="sales-dates-row" class="ons-summary__item">
        <dl class="ons-summary__row ons-summary__row--has-values" id="sales-dates">
          <dt class="ons-summary__item-title">
            <div class="ons-summary__item--text">What is the total value of remaining minor products?</div>
          </dt>
          <dd class="ons-summary__values">
            <span class="ons-summary__text">£14,000.00</span>
          </dd>
          <dd class="ons-summary__actions">
            <a href="#0" class="ons-summary__button" aria-label="Change answer">Change</a>
          </dd>
        </dl>
      </div>
    </div>


{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'survey-sections-c',
        "iconType": false
    })
}}
{% endblock %}