---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_main
---

{% block main %}
    {% from "components/summary/_macro.njk" import onsSummary %}
    {% from "components/button/_macro.njk" import onsButton %}
    {% from "components/panel/_macro.njk" import onsPanel %}

    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xl">
                <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section A</span>
            Products
        </h1>
    </header>


{{
    onsPanel({
        "body": '<p>You have previously reported the following products. Press continue to provide updated volume and value of sales information for each.</p>'
    })
}}



{{ onsSummary({
    "classes": "ons-u-mt-xl",
    "summaries": [
        {
            "groups": [
                {
                    "rows": [
                        {
                            "rowTitle": "Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement",
                            "rowItems": [
                                {
                                }
                            ]
                        },
                        {
                            "rowTitle": "Esters of salicylic acid and their salts",
                            "rowItems": [
                                {
                                }
                            ]
                        },
                        {
                            "rowTitle": "Oleic, linoleic or linolenic acids, their salts and esters",
                            "rowItems": [
                                {
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
}) }}

{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'section-a',
        "iconType": false
    })
}}
{% endblock %}
