---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_master
---

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set questionTitle = "For the period <em class=\"ons-highlight\">01/01/2022</em> to <em class=\"ons-highlight\">31/12/2022</em>, what was the sales value and volume of <em class=\"ons-highlight\">Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement</em>?" %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/sectionAsummary.html"
    }
} %}

{% block main %}
    {% call onsQuestion({
        "title": questionTitle,
        "guidance": {
            "lists": [
                {
                    "listHeading": "Excluding",
                    "itemsList": [
                        {
                            "text": "crushed limestone aggregate and calcareous dimension stone"
                        }
                    ]
                },
                {
                    "listHeading": "Including",
                    "itemsList": [
                        {
                            "text": "example"
                        }
                    ]
                }
            ]
        },
        "submitButton": true
    }) %}


{{
    onsInput({
        "id": "biscuits",
        "type": "number",
        "width": "10",
        "autocomplete": "off",
        "attributes": {
            "min": 0
        },
        "label": {
            "text": "Value of sales",
            "description": "Please provide your figures rounded to the nearest whole number. Enter '0', rather than leave blank"
        },
        "prefix": {
            "title": "British pounds (GBP)",
            "text": "£",
            "id": "annual-salary-gpb-prefix"
        }
    })
}}

{{
    onsInput({
        "id": "vol-sales",
        "type": "number",
        "width": "10",
        "autocomplete": "off",
        "attributes": {
            "min": 0
        },
        "label": {
            "text": "Volume of sales (Tonnes)",
            "description": "Please provide your figures rounded to the nearest whole number. Enter '0', rather than leave blank"
        }
    })
}}


    {% endcall %}
{% endblock %}
