---
group: Prototypes
title: PRODCOM (June 2nd)
layout: prodcom/views/_index
---

{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xl">
            Products
        </h1>
    </header>

{{ onsSummary({
    "classes": "ons-u-mb-xl",
    "summaries": [
        {
            "groups": [
                {
                    "rows": [
                        {
                            "rowTitle": "Crude rape, colza or mustard oil and their fractions",
                            "rowItems": [
                                {
                                    "iconType": "check"
                                }
                            ]
                        },
                        {
                            "rowTitle": "Crude vegetable oils",
                            "rowItems": [
                                {
                                    "iconType": "check"
                                }
                            ]
                        },
                        {
                            "rowTitle": "Oil-cake and other solid residues resulting from the extraction of soya-bean oil",
                            "rowItems": [
                                {
                                    "iconType": "check"
                                }
                            ]
                        },
                        {
                            "rowTitle": "Oil-cake and other solid residues resulting from the extraction of rape or colza seed fats or oils",
                            "rowItems": [
                                {
                                    "iconType": "check"
                                }
                            ]
                        },
                        {
                            "rowTitle": "Refined soya-bean oil and its fractions",
                            "rowItems": [
                                {
                                    "iconType": "check"
                                }
                            ]
                        },
                        {
                            "rowTitle": "Refined sunflower-seed and safflower oil and their fractions",
                            "rowItems": [
                                {
                                }
                            ]
                        },
                                                {
                            "rowTitle": "Refined rape, colza or mustard oil and their fractions",
                            "rowItems": [
                                {
                                }
                            ]
                        },
                        {
                            "rowTitle": "wheat gluten prepared for use as a glue or as a glazing or dressing for the textile industry",
                            "rowItems": [
                                {
                                }
                            ]
                        },
                        {
                            "rowTitle": "Glucose and glucose syrup",
                            "rowItems": [
                                {
                                }
                            ]
                        },
                        {
                            "rowTitle": "Residues of starch manufacture and similar residues",
                            "rowItems": [
                                {
                                }
                            ]
                        },
                        {
                            "rowTitle": "Undenatured ethyl alcohol of an alocoholic strength by volume of 80% or more",
                            "rowItems": [
                                {
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
}) }}

<p>You have previously reported these products. Press continue to provide updated volume and value of sales information for each.</p>

{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'section-a-6',
        "iconType": false
    })
}}
{% endblock %}
