---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_main
---

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/section-a-summary"
    }
} %}

{% block main %}
    {% from "components/panel/_macro.njk" import onsPanel %}
    {% from "components/summary/_macro.njk" import onsSummary %}
    {% from "components/button/_macro.njk" import onsButton %}

    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xl">
                <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section A</span>
            We calculate the total value of sales to be £1,766,000.00. Is this correct?
        </h1>
    </header>

{{
    onsPanel({
        "body": '<p>Please review your answers and confirm these are correct</p>',
        "classes": 'ons-u-mb-l'
    })
}}

{% from "components/summary/_macro.njk" import onsSummary %}
{{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "rows": [
                            {
                                "rowTitle": "Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,274,000.00"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Esters of salicylic acid and their salts",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£274,000.00"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-2"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Oleic, linoleic or linolenic acids, their salts and esters",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£218,000.00"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-3"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Total value of sales",
                                "total": true,
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,766,000.00"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}


{{
    onsButton({
        "text": 'Yes, I confirm these are correct',
        "classes": 'ons-u-mb-m ons-u-mt-l'
    })
}}
{% endblock %}
