---
group: Prototypes
title: PRODCOM (June 2nd)
layout: prodcom/views/_index
---

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/section-a-summary"
    }
} %}

{% block main %}
    {% from "components/panel/_macro.njk" import onsPanel %}
    {% from "components/summary/_macro.njk" import onsSummary %}
    {% from "components/button/_macro.njk" import onsButton %}

    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xl">
            We calculate the total value of sales to be £11,000. Is this correct?
        </h1>
    </header>

{{
    onsPanel({
        "body": '<p>Please review your answers and confirm these are correct</p>',
        "classes": 'ons-u-mb-l'
    })
}}

{% from "components/summary/_macro.njk" import onsSummary %}
{{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "rows": [
                            {
                                "rowTitle": "Crude rape, colza or mustard oil and their fractions",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Crude vegetable oils",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-2"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Oil-cake and other solid residues resulting from the extraction of soya-bean oil",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-3"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Oil-cake and other solid residues resulting from the extraction of rape or colza seed fats or oils",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-4"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                               "rowTitle": "Refined soya-bean oil and its fractions",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-5"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Refined sunflower-seed and safflower oil and their fractions",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-6"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Refined rape, colza or mustard oil and their fractions",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-7"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "wheat gluten prepared for use as a glue or as a glazing or dressing for the textile industry",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-8"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Glucose and glucose syrup",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-9"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Residues of starch manufacture and similar residues",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-10"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Undenatured ethyl alcohol of an alocoholic strength by volume of 80% or more",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£1,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "section-a-11"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Total value of sales",
                                "total": true,
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£11,000"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}


{{
    onsButton({
        "text": 'Yes, I confirm these are correct',
        "classes": 'ons-u-mb-m ons-u-mt-l'
    })
}}
{% endblock %}
