---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_spoke
---

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
    {% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/sectionC"
    }
} %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": 'survey-sections-c',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xxl">
                <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section C</span>
            Other income
        </h1>
    </header>

    <p>Include information on income from other sources, For example:</p>
    <ul>
        <li>merchanted goods</li>
        <li>materials supplied by a customer</li>
        <li>waste products and residue</li>
        <li>other non-production income</li>
    </ul>


{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mt-xl'
    })
}}

{% endblock %}
