---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_master
---

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "hubB"
    }
} %}

{% block main %}
    {% from "components/summary/_macro.njk" import onsSummary %}
    {% from "components/button/_macro.njk" import onsButton %}

    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xxl">
                <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section A</span>
            Summary of products
        </h1>
    </header>
{{
    onsSummary({
        "summaries": [
            {
                
                "groups": [
                    {
                        "groupTitle": "Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement",
                        "rows": [
                            {
                                "rowItems": [
                                    {
                                        "rowTitle": "Value of sales",
                                        "valueList": [
                                            {
                                                "text": "£218,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "sectionA.html"
                                            }
                                        ]
                                    },
                                    {
                                        "rowTitle": "Volume of sales (Tonnes)",
                                        "valueList": [
                                            {
                                                "text": "481"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "sectionA.html"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "groupTitle": "Oleic, linoleic or linolenic acids, their salts and esters",
                        "rows": [
                            {
                                "rowItems": [
                                    {
                                        "rowTitle": "Value of sales",
                                        "valueList": [
                                            {
                                                "text": "£218,000"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "sectionA.html"
                                            }
                                        ]
                                    },
                                    {
                                        "rowTitle": "Volume of sales (Tonnes)",
                                        "valueList": [
                                            {
                                                "text": "481"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "sectionA.html"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}
{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'hubB',
        "iconType": false
    })
}}
{% endblock %}
