---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_main
---

{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/sectionBadd"
    }
} %}

{% block main %}


    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xl">
                <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section B</span>
            What additional products do you have?
        </h1>
    </header>

<div class="ons-panel ons-panel--info ons-panel--no-title">
  <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
  <div class="ons-panel__body">
    <p>If you need to add multiple products, you can do this on the next page</p>
  </div>
</div>

<div class="ons-field">
  <label class="ons-label ons-label--with-description" aria-describedby="description-hint" for="textarea">Product description</label>
  <textarea id="textarea" class="ons-input ons-input--textarea   " name="feedback" rows="8"></textarea>
</div>

<div class="ons-field">
  <label class="ons-label" for="text">CN code (if known)</label>
  <input type="text" id="text" class="ons-input ons-input--text ons-input-type__input" />
</div>

<div class="ons-field">
    <label class="ons-label ons-label--with-description" for="sales-value">Value of sales</label>
    <span id="description-hint" class="ons-label__description  ons-input--with-description">Please provide your figures rounded to the nearest whole number. Enter '0', rather than leave blank</span>
    <span class="ons-input-type ons-input-type--prefix">
        <span class="ons-input-type__inner">
            <input type="text" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-10" aria-labelledby="annual-salary-gpb-prefix" pattern="[0-9]*" inputmode="numeric" autocomplete="off">
            <abbr id="annual-salary-gpb-prefix" class="ons-input-type__type ons-js-input-abbr" title="British pounds (GBP)">£</abbr>
        </span>
    </span>
</div>
<div class="ons-u-mt-xl">

{{
    onsButton({
        "text": 'Save and continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'sectionBadd',
        "iconType": false
    })
}}

</div>
{% endblock %}
