---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_spoke
---

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
    {% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/sectionA.html"
    }
} %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": 'hub',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xxl">
                <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section A</span>
            Products
        </h1>
    </header>

    <p>In this section, we are going to ask you questions about products that you have previously reported to us. If some of your products are missing or described incorrectly then give the description and value in Section B.</p>

    <h2 class="ons-u-mt-l">What you will need to know</h2>

<!-- only include if detectedin spreadsheet -->
    <p>Volume of total production. Figures should cover the total quantity of the goods produced during the period of the return - regardless of whether you sold them or not. This includes any production that was incorporated into the manufacture of other products. Exclude goods produced during an earlier period even if you sold them during the period covered by this return.</p>


    <div class="ons-panel ons-panel--info ons-panel--no-title ons-panel--spacious">
  <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
  <h3>Include:</h3>
    <ul>
        <li>sales of goods of own production invoiced during the period, net of trade and other discounts, agents' commissions, allowances on returns</li>
        <li>transfers of goods to other parts of the same organisation not covered by this return. These should be valued as if sold to an independent customer</li>
        <li>cost of packaging materials less allowances for returnable containers</li>
        <li>sales of goods made for you under sub-contracting/toll manufacturing arrangements, such as work carried out by other firms or outworkers on materials supplied by you</li>
        <li>free-on-board value where goods have been exported</li>
        <li>staged payments. Where large constructions are invoiced in stages, the sales should be included as each stage is invoiced. Volumes should be recorded on completion of the project</li>
    </ul>

    <h3>Exclude:</h3>
    <ul>
        <li>VAT</li>
        <li>net proceeds from sale(s) of capital item(s)</li>
        <li>where possible, all transport costs</li>
    </ul>
  </div>

{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mt-xl'
    })
}}

{% endblock %}
