---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_main
---

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set questionTitle = "For the period <em class=\"ons-highlight\">01/01/2022</em> to <em class=\"ons-highlight\">31/12/2022</em>, what was the sales value and volume of <em class=\"ons-highlight\">Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement</em>?" %}
{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/sectionAsummary"
    }
} %}

{% block main %}

<div class="ons-question ons-u-mb-l">
    <h1 id="question-title" class="ons-question__title"> <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section A</span>
            For the period <em class="ons-highlight">1 January 2022</em> to <em class="ons-highlight">31 December 2022</em>, what were the sales value and volume of <em class="ons-highlight prepop">Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement</em>?</h1>
    <div class="ons-question__description ons-u-mb-m">
        <p>(CN <em class="ons-highlight prepop">291532 + 291533 + 291536 + 291539)</em></p>
    </div>
</div>

<div class="ons-panel ons-panel--info ons-panel--no-title">
  <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
  <div class="ons-panel__body">
    <h4>Exclude</h4>
    <ul>
    <li><em class="ons-highlight prepop">crushed limestone aggregate</em></li>
    <li><em class="ons-highlight prepop">calcareous dimension stone</em></li>
    </ul>
    <h4>Include</h4>
    <ul>
        <li><em class="ons-highlight prepop">limestone</em></li>
        <li><em class="ons-highlight prepop">limestone flux</em></li>
        <li><em class="ons-highlight prepop">travertine</em></li>
        <li><em class="ons-highlight prepop">onyx</em></li>
        <li><em class="ons-highlight prepop">marble</em></li>
    </ul>
  </div>
</div>

 <div class="ons-question__description ons-u-mb-m ons-u-mt-m">
    <p>Please provide your figures rounded to the nearest whole number. Enter '0', rather than leave blank.</p>
</div>

<div class="ons-field">
    <label class="ons-label ons-label--with-description" for="sales-value">Value of sales</label>
    <span id="description-hint" class="ons-label__description  ons-input--with-description">Please provide your figures rounded to the nearest whole number. Enter '0', rather than leave blank.</span>
    <span class="ons-input-type ons-input-type--prefix">
        <span class="ons-input-type__inner">
            <input type="text" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-10" aria-labelledby="annual-salary-gpb-prefix" pattern="[0-9]*" inputmode="numeric" autocomplete="off">
            <abbr id="annual-salary-gpb-prefix" class="ons-input-type__type ons-js-input-abbr" title="British pounds (GBP)">£</abbr>
        </span>
    </span>
    <span id="description-hint" class="ons-label__description  ons-input--with-description"><em class="ons-highlight prepop">181110001</em></span>
</div>


<div class="ons-field">
  <label class="ons-label ons-label--with-description" aria-describedby="description-hint" for="text">Volume of sales (<em class="ons-highlight prepop">Tonnes</em>)</label>
  <span id="description-hint" class="ons-label__description  ons-input--with-description">Please provide your figures rounded to the nearest whole number. Enter '0', rather than leave blank.</span>
  <input type="text" id="text" class="ons-input ons-input--text ons-input-type__input ons-input--w-8"
    aria-describedby="description-hint" />
    <span id="description-hint" class="ons-label__description  ons-input--with-description"><em class="ons-highlight prepop">181110001</em></span>
</div>

<div class="ons-field">
  <label class="ons-label ons-label--with-description" aria-describedby="description-hint" for="text">Total volume produced (<em class="ons-highlight prepop">Tonnes</em>)</label>
  <span id="description-hint" class="ons-label__description  ons-input--with-description">Please provide your figures rounded to the nearest whole number. Enter '0', rather than leave blank.</span>
  <input type="text" id="text" class="ons-input ons-input--text ons-input-type__input ons-input--w-8"
    aria-describedby="description-hint" />
    <span id="description-hint" class="ons-label__description  ons-input--with-description"><em class="ons-highlight prepop">181110001</em></span>
</div>

<div class="ons-u-mt-xl">

{{
    onsButton({
        "text": 'Save and continue',
        "url": 'sectionAsummary',
        "iconType": false
    })
}}

</div>
{% endblock %}
