---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_main
---

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "survey-sections-d"
    }
} %}

{% block main %}
    {% from "components/summary/_macro.njk" import onsSummary %}
    {% from "components/button/_macro.njk" import onsButton %}
    {% from "components/panel/_macro.njk" import onsPanel %}

<div class="ons-summary">
  <div class="ons-summary__group">
    <h1 class="ons-u-fs-xl">
            We calculate the total value of other income to be £680,000.00. Is this correct?
        </h1>


    {{
    onsPanel({
        "body": '<p>Please review your answers and confirm these are correct</p>',
        "classes": 'ons-u-mb-l'
    })
}}

    <div class="ons-summary__items">
      <div class="ons-summary__item">
        <dl class="ons-summary__row ons-summary__row--has-values">
          <dt class="ons-summary__item-title">
            <div class="ons-summary__item--text">What is the total value of sales of merchanted goods?</div>
          </dt>
          <dd class="ons-summary__values">
            <span class="ons-summary__text">£130,000.00</span>
          </dd>
          <dd class="ons-summary__actions">
            <a href="#0" class="ons-summary__button" aria-label="Change answer">Change</a>
          </dd>
        </dl>
      </div>
      <div class="ons-summary__item">
        <dl class="ons-summary__row ons-summary__row--has-values">
          <dt class="ons-summary__item-title">
            <div class="ons-summary__item--text">What is the total value of sales for work done on materials supplied by a customer?</div>
          </dt>
          <dd class="ons-summary__values">
            <span class="ons-summary__text">£12,000.00</span>
          </dd>
          <dd class="ons-summary__actions">
            <a href="#0" class="ons-summary__button" aria-label="Change answer">Change</a>
          </dd>
        </dl>
      </div>
      <div class="ons-summary__item">
        <dl class="ons-summary__row ons-summary__row--has-values">
          <dt class="ons-summary__item-title">
            <div class="ons-summary__item--text">What is the value of sales of waste products and residues?</div>
          </dt>
          <dd class="ons-summary__values">
            <span class="ons-summary__text">£533,000.00</span>
          </dd>
          <dd class="ons-summary__actions">
            <a href="#0" class="ons-summary__button" aria-label="Change answer">Change</a>
          </dd>
        </dl>
      </div>
      <div class="ons-summary__item">
        <dl class="ons-summary__row ons-summary__row--has-values">
          <dt class="ons-summary__item-title">
            <div class="ons-summary__item--text">What is the total value of your non-production income?</div>
          </dt>
          <dd class="ons-summary__values">
            <span class="ons-summary__text">£5,000.00</span>
          </dd>
          <dd class="ons-summary__actions">
            <a href="#0" class="ons-summary__button" aria-label="Change answer">Change</a>
          </dd>
        </dl>
      </div>

      <div class="ons-summary__item ons-summary__item--total">
        <dl class="ons-summary__row ons-summary__row--has-values">
          <dt class="ons-summary__item-title">
            <div class="ons-summary__item--text">Total value of other income</div>
          </dt>
          <dd class="ons-summary__values ons-summary__values--2">
            <span class="ons-summary__text">£680,000.00</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

{{
    onsButton({
        "text": 'Yes, I confirm this is correct',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'survey-sections-d',
        "iconType": false
    })
}}
{% endblock %}
