---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_main
---

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set questionTitle = "For the period <em class=\"ons-highlight\">01/01/2022</em> to <em class=\"ons-highlight\">31/12/2022</em>, what was the sales value and volume of <em class=\"ons-highlight\">Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement</em>?" %}
{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/sectionAsummary"
    }
} %}

{% block main %}


    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xl">
                <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section A</span>
            For the period 1 January 2022 to 31 December 2022, what were the sales value and volume of Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement?
        </h1>
    </header>

    {% call onsQuestion({
        "guidance": {
            "lists": [
                {
                    "listHeading": "Excluding",
                    "itemsList": [
                        {
                            "text": "crushed limestone aggregate and calcareous dimension stone"
                        }
                    ]
                },
                {
                    "listHeading": "Including",
                    "itemsList": [
                        {
                            "text": "example"
                        }
                    ]
                }
            ]
        },
        "submitButton": true
    }) %}


<div class="ons-field">
    <label class="ons-label ons-label--with-description" for="sales-value">Value of sales</label>
    <span id="description-hint" class="ons-label__description  ons-input--with-description">Please provide your figures rounded to the nearest whole number. Enter '0', rather than leave blank</span>
    <span class="ons-input-type ons-input-type--prefix">
        <span class="ons-input-type__inner">
            <input type="text" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-10" aria-labelledby="annual-salary-gpb-prefix" pattern="[0-9]*" inputmode="numeric" autocomplete="off">
            <abbr id="annual-salary-gpb-prefix" class="ons-input-type__type ons-js-input-abbr" title="British pounds (GBP)">£</abbr>
        </span>
    </span>
</div>

{{
    onsInput({
        "id": "vol-sales",
        "type": "number",
        "width": "10",
        "autocomplete": "off",
        "attributes": {
            "min": 0
        },
        "label": {
            "text": "Volume of sales (Tonnes)",
            "description": "Please provide your figures rounded to the nearest whole number. Enter '0', rather than leave blank"
        }
    })
}}

{{
    onsInput({
        "id": "total-volume",
        "type": "number",
        "width": "10",
        "autocomplete": "off",
        "attributes": {
            "min": 0
        },
        "label": {
            "text": "Total volume produced (Tonnes)",
            "description": "Please provide your figures rounded to the nearest whole number. Enter '0', rather than leave blank"
        }
    })
}}
    {% endcall %}
{% endblock %}
