---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_spoke
---

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/survey-sections-e"
    }
} %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": 'survey-sections-d',
                "id": "back",
                "text": 'Back',
                "attributes": {
                    "data-attribute": "Example attribute"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}

    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xl">
                <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section D</span>
            We calculate the total company turnover to be £249,000.00. Is this correct?
        </h1>
    </header>
<p>This should be the sum of all values in Section A, B and C.</p>

{{
    onsPanel({
        "spacious": true,
        "body": '<h4>Exclude:</h4>
        <ul><li>VAT</li>
        <li>capital receipts from the disposal of assets</li>
        <li>interest</li>
        <li>dividends</li>
        </ul>'
    })
}}

{{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "rows": [
                            {
                                "rowTitle": "Section A: <br>Total value of products",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£225,000.00"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "sectionAsummary"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Section B: <br>Total value of additional products",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£9,000.00"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "sectionBsummary"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Section C: <br>Total value of other income",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£15,000.00"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "sectionCsummary"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Grand total",
                                "total": true,
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£249,000.00"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}


{{
    onsButton({
        "text": 'Yes, I confirm these are correct',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'survey-sections-e',
        "iconType": false
    })
}}

{% endblock %}
