---
group: Surveys
title: PRODCOM survey
layout: prodcom/views/_master
---

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "hubB"
    }
} %}

{% block main %}
    {% from "components/summary/_macro.njk" import onsSummary %}
    {% from "components/button/_macro.njk" import onsButton %}

    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xxl">
                <span class="ons-u-fs-m ons-u-db ons-u-mb-xs ons-u-lighter">Section A</span>
            Summary of products
        </h1>
    </header>

<div class="ons-summary ons-u-mb-l">
  <div class="ons-summary__group">
    <div class="ons-summary__items">
      <div class="ons-summary__item">
        <dl class="ons-summary__row">
          <dt class="ons-summary__item-title">
           
            <div class="ons-summary__item--text">
                <h4>Limestone flux; limestone and other calcareous stone of a kind used for the manufacture of lime or cement</h4>
                Value of sales:<strong> £1,274,000</strong><br>
                Volume of sales:<strong> 882,377 Tonnes</strong><br>
                Total produced:<strong> 1,000,000 Tonnes</strong>
            </div>
          </dt>
          <dd class="ons-summary__actions">
            <a href="sectionA" class="ons-summary__button" aria-label="Change details for example product">Change</a>
          </dd>
        </dl>
      </div>

      <div class="ons-summary__item">
        <dl class="ons-summary__row">
          <dt class="ons-summary__item-title">
           
            <div class="ons-summary__item--text">
                <h4>Non-lime mortar and other cement-derived bonding agents</h4>
                Value of sales:<strong> £274,000</strong>
            </div>
          </dt>
          <dd class="ons-summary__actions">
            <a href="sectionA" class="ons-summary__button" aria-label="Change details for example product">Change</a>
          </dd>
        </dl>
      </div>

      <div class="ons-summary__item">
        <dl class="ons-summary__row">
          <dt class="ons-summary__item-title">
           
            <div class="ons-summary__item--text">
                <h4>Oleic, linoleic or linolenic acids, their salts and esters</h4>
                Value of sales:<strong> £218,000</strong><br>
                Volume of sales:<strong> 3659 Kilograms</strong><br>
            </div>
          </dt>
          <dd class="ons-summary__actions">
            <a href="sectionA" class="ons-summary__button" aria-label="Change details for example product">Change</a>
          </dd>
        </dl>
      </div>

        <div class="ons-summary__item ons-summary__item--total">
            <dl class="ons-summary__row ons-summary__row--has-values">
                <dt class="ons-summary__item-title">
                    <div class="ons-summary__item--text">Total for products</div>
                </dt>
                <dd class="ons-summary__values ons-summary__values--2">  
                    <span class="ons-summary__text">£430,000</span>
                </dd>
            </dl>
        </div>
  </div>
</div>

{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'hubB',
        "iconType": false
    })
}}
{% endblock %}
