---
group: Surveys
title: PRODCOM survey | submit survey
layout: prodcom/views/_hub
---

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
<h1 class="ons-u-mt-m">Check your answers and submit</h1>

{% call onsPanel({
        "type": 'warn'
    })
%}
    You must submit this survey to complete it
{% endcall %}

    {{ onsSummary({
        "hub": true,
        "classes": "ons-u-mt-m",
        "summaries": [
            {
                "groups": [
                    {
                        "rows": [
                            {
                                "rowTitle": "Period of reporting",
                                "rowItems": [
                                    {
                                        "iconType": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change dates",
                                                "ariaLabel": "Change dates for period of reporting",
                                                "url": "dates"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Products",
                                "rowItems": [
                                    {
                                        "iconType": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "ariaLabel": "View answers for products",
                                                "url": "sectionAstart"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Additional products",
                                "rowItems": [
                                    {
                                        "iconType": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "ariaLabel": "View answers for additional products",
                                                "url": "sectionBstart"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Other income",
                                "rowItems": [
                                    {
                                        "iconType": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "ariaLabel": "View answers for other income",
                                                "url": "sectionCstart"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Company totals",
                                "rowItems": [
                                    {
                                        "iconType": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "ariaLabel": "View answers for company totals",
                                                "url": "sectionDstart"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Your comments",
                                "rowItems": [
                                    {
                                         "iconType": "check",
                                         "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "ariaLabel": "View answers for your comments",
                                                "url": "sectionEstart"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    }) }}

    {{
        onsButton({
            "text": 'Submit survey',
            "classes": 'ons-u-mb-m ons-u-mt-l',
            "url": 'thank-you',
            "iconType": false
        })
    }}
{% endblock %}
