---
group: Prototypes
title: Long List (checkboxes)
layout: long-list-checkboxes/views/_main
---

{% set prevPage = "hub" %}

{% block preMain %}
{{
    onsBreadcrumbs({
        "ariaLabel": 'Previous',
        "itemsList": [
            {
                "url": "/prototypes/long-list-checkboxes/back-to-hub/question-1-1.html",
                "id": "backlink",
                "text": 'Previous',
                "attributes": {
                    "data-attribute": "Example attribute",
                    "onclick": "previousQuestion(); this.blur();"
                }
            }
        ]
    })
}}
{% endblock %}

{% block main %}
<h1 class="ons-u-fs-xl">
    Was this expenditure more or less than you expected to pay for <strong id="listItemHighlighted" class="ons-highlight"></strong>?
</h1>

{% from "components/radios/_macro.njk" import onsRadios %}

{{
    onsRadios({
        "name": "property-type",
        "id": "expectation",
        "dontWrap": true,
        "radios": [
            {
                "id": "more",
                "label": {
                    "text": "More than I expected to pay"
                },
                "value": "more"
            },
            {
                "id": "less",
                "label": {
                    "text": "Less than I expected to pay"
                },
                "value": "less"
            }
        ]
    })
}}


{{
    onsButton({
        "text": 'Save and continue',
        "classes": 'ons-u-mb-l ons-u-mt-l',
        "attributes": {
                "onclick": "nextQuestion();"
            }
    })
}}

{% endblock %}

{% block bodyEnd %}

<script>

var results = localStorage.getItem("ddvalue");
// Parse the JSON if there's data
console.log('there\'s results');
results = JSON.parse(results);
// Replace commas in each item of the array
for (var i = 0; i < results.length; i++) {
    results[i] = results[i].replace(/&#44;/g, ',');
}
document.getElementById('listItemHighlighted').textContent = results[0];

if (localStorage.getItem('q12') !== undefined && localStorage.getItem('q12') != null){
    var q12Entered = localStorage.getItem('q12');
    document.getElementById(q12Entered).checked = true;
}

function nextQuestion(){
    var radioButtons = document.getElementsByName("property-type");

    for (var i = 0; i < radioButtons.length; i++) {
        if (radioButtons[i].checked) {
            var selectedValue = radioButtons[i].value;

            if (selectedValue === "more") {
                localStorage.setItem('q12', 'more');
            } else if (selectedValue === "less") {
                localStorage.setItem('q12', 'less');
            }
            break;
        }
    }
    window.location.href = '/prototypes/long-list-checkboxes/back-to-hub/question-1-3.html';
}

</script>

{% endblock %}
