---
group: Prototypes
title: Looping Variations
layout: abs/views/_index
---


{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/accordion/_macro.njk" import onsAccordion %}

{% block main %}

<style>
.looping{
    background-color: #206095;color: white; border:none;
}

</style>
<div class="ons-col-8@m">
<h2>Preview of the questions you may be asked in this survey</h2>
<div class="ons-panel ons-panel--info ons-panel--no-title">
    <span class="ons-u-vh">Important information: </span>
    <div class="ons-panel__body">
        <p>To answer these questions you need to <a href="../start">start survey</a></p>
    </div>
</div>

        <br>
        <p>You may not have to answer all of these questions. The questions you see will depend on the answers you provide.</p>

<br>



<!--NEW BUILD-->
<div id="accordion-example" class="ons-accordion">
  <button type="button"
    class="ons-btn ons-accordion__toggle-all ons-u-mb-s ons-btn--secondary ons-btn--small"
    data-close-all="Hide all" data-group="accordion-example">
    <span class="ons-btn__inner ons-accordion__toggle-all-inner"><span class="ons-btn__text">Show all</span>
    </span>
  </button>
  <div id="accordion-example-1" class="ons-details ons-js-details ons-details--accordion"
    data-group="accordion-example">
    <div class="ons-details__heading ons-js-details-heading" role="button">
      <h2 class="ons-details__title">Reporting period</h2>
      <span class="ons-details__icon">
        <svg class="ons-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
          fill="currentColor">
          <path
            d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
            transform="translate(-5.02 -1.59)" />
        </svg></span>
    </div>
    <div id="accordion-example-1-content" class="ons-details__content ons-js-details-content">
      <div class="ons-summary__group">
                    <table class="ons-summary__items">
                        <thead class="ons-u-vh">
                        <tr>
                            <th>Question</th>
                        </tr>
                        </thead>


                        <tbody class="ons-summary__item">
                        <tr class="ons-summary__row ons-summary__row--has-values">
                            <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                <div class="ons-summary__item--text ons-u-fs-m">Are you able to report figures for the period 1 May 2020 to
                                    31 May 2021?
                                </div>
                                <br>
                                <p>Your return should cover the calendar year 2021.</p>
                                <div class="ons-panel ons-panel--info ons-panel--no-title">
                                    <div class="ons-panel__body">
                                    <p><strong>Traded for part of the year?</strong></p>

                                    <p>Please select 'No, I need to report for a different period'</p>

                                    <p><strong>Cannot report for this calendar year?</strong></p>

                                    <p>Please select 'No, I need to report for a different period'</p>
                                    </div>
                                </div>
                                <br>
                                <p>You can answer with the following options:</p>
                                <ul>
                                    <li>Yes, I can report for this period</li>
                                    <li>No, I need to report for a different period</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                        <tbody class="ons-summary__item">

                        <tr class="ons-summary__row ons-summary__row--has-values">
                            <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                <div class="ons-summary__item--text ons-u-fs-m">What are the dates you are reporting for?</div>
                      
                                
                                
                            </div>
                                <br>
                                    <p>You will be asked to enter a date range</p>
                                    <ul>
                                        <li>Date from</li>
                                        <li>Date to</li>
                                    </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
  </div>
  
    <!--HOME IMPRO-->
    <div id="accordion-example-3" class="ons-details ons-js-details ons-details--accordion" data-group="accordion-example">
        <div class="ons-details__heading ons-js-details-heading" role="button">
            <h2 class="ons-details__title">Home Improvements</h2>
            <span class="ons-details__icon">
                <svg class="ons-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                    <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                </svg>
            </span>
        </div>
        <div id="accordion-example-2-content" class="ons-details__content ons-js-details-content">
            <div class="ons-summary__group">
                <table class="ons-summary__items">
                    <thead class="ons-u-vh">
                        <tr>
                            <th>Question</th>
                            <th>Guidance</th>
                        </tr>
                    </thead>
                    <tbody class="ons-summary__item">
                        <tr class="ons-summary__row ons-summary__row--has-values">
                            <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                <div class="ons-summary__item--text ons-u-fs-m">Did you carry out any home improvements during the period [Start date] to [End date]?</div>
                                <br>
                                <div class="ons-panel ons-panel--info ons-panel--no-title ons-u-mb-l">
                                    <span class="ons-u-vh">Important information: </span>
                                    <div class="ons-panel__body">
                                        <p>You will be asked about what types of home improvement you carried out. If you need to add multiple improvements, you will be given the opportunity to add them.</p>
                                    </div>
                                </div>
                                <p>You can answer with the following options:</p>
                                <ul>
                                    <li>Yes, I carried out home improvements</li>
                                    <li>No, I didn't carry out home improvements</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="border: 5px #206095 solid; display: block;">
                    <table class="ons-summary__items">
                        <tbody class="ons-summary__item">
                            <div class="ons-question__instruction ons-u-mb-no looping" >
                                <p><strong>This section will repeat until all [Linked collection list] are added</strong></p>
                                <p>If you need to add multiple [Linked collection list] you will be given the opportunity to add them.</p>
                            </div>
                            <tr class="ons-summary__row ons-summary__row--has-values">
                                <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                    <div class="ons-summary__item--text ons-u-fs-m">What home improvement have you carried out during the period [Start Date] to [End date]?</div>
                                    <br>
                                    <p>Select an item from the list provided:</p>
                                    <ul>
                                        <li>Home Improvement 1</li>
                                        <li>Home Improvement 2</li>
                                        <li>Home Improvement 3</li>
                                        <li>Home Improvement 4</li>
                                        <li>Home Improvement 5</li>
                                        <li>Home Improvement 6</li>
                                        <li>Home Improvement 7</li>
                                    </ul>                                    <br>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="ons-summary__item">
                            <tr class="ons-summary__row ons-summary__row--has-values">
                                <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                    <div class="ons-summary__item--text ons-u-fs-m">During the reporting period [Start Date] to [End date], how much did you spend on [answer]?</div>
                                    <br>
                                    <p>Amount spent on home improvement</p>
                                    <ul>
                                        <li>Enter a value between 0 and 6</li>
                                    </ul>                                    <br>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="ons-summary__item">
                            <tr class="ons-summary__row ons-summary__row--has-values">
                                <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                    <div class="ons-summary__item--text ons-u-fs-m">If any time was spent working on [answer], who carried out the work?</div>
                                    <br>
                                    <p>You can answer with the following options:</p>
                                    <ul>
                                        <li>Myself</li>
                                        <li>Unpaid other parties</li>
                                        <li>Paid other parties</li>
                                    </ul>                                    <br>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="ons-summary__item">
                            <tr class="ons-summary__row ons-summary__row--has-values">
                                <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                    <div class="ons-summary__item--text ons-u-fs-m">Do you need to add any other home improvements?</div>
                                    <br>
                                    <p>You can answer with the following options:</p>
                                    <ul>
                                        <li>Yes</li>
                                        <li>No</li>
                                    </ul>                                    <br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            <table class="ons-summary__items">
                <tbody class="ons-summary__item">
                    <tr class="ons-summary__row ons-summary__row--has-values">
                        <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                            <div class="ons-summary__item--text ons-u-fs-m">During the period [Start Date] to [End Date], how much did you spend on other home improvements not previously added?</div>                            
                            <br>

                            <p>If you did not spend any money on other home improvements then enter 0.</p>
                            <div class="ons-panel ons-panel--info ons-panel--no-title">
                                <span class="ons-u-vh">Important information: </span>
                                <div class="ons-panel__body">
                                    <p>Include anything that could be removed from the residence.
                                        For example, soft furnishings, kitchen appliances, electrical equipment</p>
                                </div>
                            </div>
                            <br>
                            <p>Amount spent on other home improvements:</p>
                            <ul>
                                <li>Enter a value between 0 and 6. For example, 2 to allow numbers such as 1.11</li>
                                
                            </ul>                                   
                        </td>
                    </tr>
                </tbody>
                <tbody class="ons-summary__item">
                    <tr class="ons-summary__row ons-summary__row--has-values">
                        <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                            <div class="ons-summary__item--text ons-u-fs-m">We calculate the total you have spent on home improvements to be [total]. Is this correct?</div>                            
                            <br>
                            <p>If you need to change anything you will be given the chance to amend.</p>
                        </td>
                    </tr>
                </tbody>
                <tbody class="ons-summary__item">
                    <tr class="ons-summary__row ons-summary__row--has-values">
                        <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                            <div class="ons-summary__item--text ons-u-fs-m">Are you planning on carrying out home improvements in the next 12 months?</div>                            
                            <br>
                            <p>You can answer with the following options:</p>
                            <ul>
                                <li>Yes, I am planning to carry out future home improvements</li>
                                <li>No, I am not planning on carrying out future home improvements</li>
                            </ul>                         
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    
    
    <!--HP END-->

  <div id="accordion-example-3" class="ons-details ons-js-details ons-details--accordion"
    data-group="accordion-example">
    <div class="ons-details__heading ons-js-details-heading" role="button">
      <h2 class="ons-details__title">Supermarket shopping </h2>
      <span class="ons-details__icon">
        <svg class="ons-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
          fill="currentColor">
          <path
            d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
            transform="translate(-5.02 -1.59)" />
        </svg></span>
    </div>
            <div id="accordion-example-2-content" class="ons-details__content ons-js-details-content">
                <div class="ons-summary__group">
                    <table class="ons-summary__items">
                        <thead class="ons-u-vh">
                        <tr>
                            <th>Question</th>
                            <th>Guidance</th>
                        </tr>
                        </thead>
                        <tbody class="ons-summary__item">
                            <tr class="ons-summary__row ons-summary__row--has-values">
                                <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                    <div class="ons-summary__item--text ons-u-fs-m">Do you shop at supermarkets?</div>
                                    <br>
                                    <div class="ons-panel ons-panel--info ons-panel--no-title">
                                        <span class="ons-u-vh">Important information: </span>
                                        <div class="ons-panel__body">
                                            <p>If you need to add multiple supermarkets, you will be able to add them on later pages</p>
                                        </div>
                                    </div>
                                    <br>                                    
                                    <p>Enter a value</p>
                                    <ul>
                                        <li>Yes</li>
                                        <li>No</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                        
                        <div style="border: 5px #206095 solid;">
                            <table class="ons-summary__items">
                        <tbody class="ons-summary__item">
                            <div class="ons-question__instruction ons-u-mb-no" style="background-color: #206095;color: white; border:none;">
                                <p><strong>This question will repeat until all [Linked collection list] are added</strong></p>
                                <p>You will be asked to add all [Linked collection list]. If you need to add multiple [Linked collection list] you will be given the opportunity to add them.</p>
                            </div>
                            <tr class="ons-summary__row ons-summary__row--has-values">
                                <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                    <div class="ons-summary__item--text ons-u-fs-m">What supermarket do you shop at?</div>
                                    <br>
                                    <p>Enter a value</p>
                                    <br>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="ons-summary__item">
                            <tr class="ons-summary__row ons-summary__row--has-values">
                                <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                    <div class="ons-summary__item--text ons-u-fs-m">Do you need to add any more supermarkets?</div>
                                    <br>
                                    <p>You can answer with the following options:</p>
                                    <ul>
                                        <li>Yes</li>
                                        <li>No</li>
                                    </ul>                                    <br>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                        </div>
                        <table class="ons-summary__items">

                    <tbody class="ons-summary__item">
                        <tr class="ons-summary__row ons-summary__row--has-values">
                            <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                <div class="ons-summary__item--text ons-u-fs-m">What percentage of your shopping do you do at each supermarket?</div>
                                <br>
                                <p>Percentage of shopping at [Name of supermarket]</p>
                                <ul>
                                    <li>Enter a value between 0 and 6. For example, 2 to allow numbers such as 1.11</li>
                                </ul>                                    
                                <br>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="ons-summary__item">
                        <tr class="ons-summary__row ons-summary__row--has-values">
                            <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                <div class="ons-summary__item--text ons-u-fs-m">Do you shop at local convenience shops?</div>
                                <br>
                                <p>You can answer with the following options:</p>
                                <ul>
                                    <li>Yes</li>
                                    <li>No</li>
                                </ul>                                    
                                <br>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="ons-summary__item">
                        <tr class="ons-summary__row ons-summary__row--has-values">
                            <td class="ons-summary__item-title ons-u-pb-no ons-u-pr-s ons-u-pl-s">
                                <div class="ons-summary__item--text ons-u-fs-m">How often do you use local convenience shops?</div>
                                <br>
                                <p>You can answer with the following options:</p>
                                <ul>
                                    <li>Daily</li>
                                    <li>Less than daily but more than once a week</li>
                                    <li>Once a week</li>
                                    <li>Less than weekly but more than once a month</li>
                                    <li>Once a month</li>
                                    <li>Less than Less than monthly</li>

                                </ul>                                    
                                <br>
                            </td>
                        </tr>
                    </tbody>
                </table>

                
            </div>

                
                
        </div>
  </div>
  

  <div id="accordion-example-6" class="ons-details ons-js-details ons-details--accordion"
    data-group="accordion-example">
    <div class="ons-details__heading ons-js-details-heading" role="button">
      <h2 class="ons-details__title">Comments</h2>
      <span class="ons-details__icon">
        <svg class="ons-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false"
          fill="currentColor">
          <path
            d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z"
            transform="translate(-5.02 -1.59)" />
        </svg></span>
    </div>
    <div id="accordion-example-6-content" class="ons-details__content ons-js-details-content" >
      <div class="ons-summary__group">
                    <table class="ons-summary__items">
                        <thead class="ons-u-vh">
                        <tr>
                            <th>Question</th>
                            <th>Guidance</th>
                        </tr>
                        </thead>

                        <tbody class="ons-summary__item">

                        <tr
                                class="ons-summary__row ons-summary__row--has-values">
                            <td class="ons-summary__item-title">

                                <div class="ons-summary__item--text ons-u-fs-m">Please provide any further details that will help us understand your figures and tell an industry story</div>
                                <br>
                                <p>Explain any changes in your figures from your previous return, if applicable. If you provide comments, we are less likely to contact you with data queries.</p>
                                <div class="ons-panel ons-panel--info ons-panel--no-title">
                                    <div class="ons-panel__body">
                                        <p><strong>Please include details of:</strong></p>

                                        <ul class="u-fs-r">
                                            <li>any zero figures</li>
                                        </ul>

                                        <p>Any significant impacts upon your data resulting from changes to your business. For example:</p>

                                        <ul class="u-fs-r">
                                            <li>changes to your business structure</li>
                                            <li>type of activity undertaken</li>
                                        </ul>

                                        <p>Changes in the accounting approaches you have taken. For example:</p>
                                        <ul class="u-fs-r">
                                            <li>change of accounting standard such as IFRS</li>
                                            <li>regulatory changes</li>
                                        </ul>
                                        <p>Any significant changes upon your data as a result of the coronavirus (COVID-19) pandemic.</p>
                                    </div>
                                </div>
                                <br>
                                <p><strong>Comments</strong></p>
                                <p>2000 characters can be added.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
    </div>
  </div>
<br>
  

<!--NEW BUILD END-->

<div class="app-back-to-top">
    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#main-content">
        <svg focusable="false" style="margin-right: 10px" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg> Back to top
    </a>
</div></div>

    
</div>
</div>
{% endblock %}