---
group: Prototypes
title: Prices
layout: prices/views/_main
---
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set prevPage = "index" %}
{% set form = {
    "method": "GET",
    "attributes": {
        "action": pageInfo.rootPath + "/prices.html"
    }
} %}

{% block main %}
    <h1 class="ons-u-fs-xl">Product list</h1>

{{ onsSummary({
    "classes": "ons-u-mb-xl",
    "summaries": [
        {
            "groups": [
                {
                    "rows": [
                        {
                            "rowTitle": "WIRE HARNESS",
                            "rowItems": [
                                {
                                }
                            ]
                        },
                        {
                            "rowTitle": "BRAZILIAN ELLIOTS PINE PLYWOOD GRADE C+/C",
                            "rowItems": [
                                {
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
}) }}

<p>You have previously reported these products. Press continue to provide updated price information for each.</p>

{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l'
    })
}}
{% endblock %}
