---
group: Surveys
title: Prices
layout: prices/views/_hub
---
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xxl">
            BRAZILIAN ELLIOTS PINE PLYWOOD GRADE C+/C
        </h1>
    </header>
<p class="ons-u-mb-xl"><strong>Description:</strong> 2440 X 1220 X 18<br>
<strong>Serial number:</strong> PSBEN</p>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Terms of sale"
    }
  },
  rows: [
    {
      key: {
        text: "Supplier reference"
      },
      value: {
        html: ""
      },
      actions: {
        items: [
          {
          }
        ]
      }
    },
    {
      key: {
        text: "Payment terms"
      },
      value: {
        html: "NETT MONTHLY"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    },
    {
      key: {
        text: "Carriage"
      },
      value: {
        html: "DELIVERED NETT"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    },
    {
      key: {
        text: "Customer reference"
      },
      value: {
        html: "DCL"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    }
  ]
}) }}


{{ govukSummaryList({
  card: {
    title: {
      text: "Details"
    }
  },
  rows: [
    {
      key: {
        text: "Unit of sale"
      },
      value: {
        html: "PER 10 M SQ"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    },
    {
      key: {
        text: "Currency"
      },
      value: {
        html: "POUNDS STERLING"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    },
    {
      key: {
        text: "Country of origin"
      },
      value: {
        html: "BRAZIL"
      },
      actions: {
        items: [
          {
          }
        ]
      }
    }
  ]
}) }}

{% from "components/panel/_macro.njk" import onsPanel %}

{{
    onsPanel({
        "body": '<p>If any of the information relating to this item has changed, write any amendments in the comments box</p>'
    })
}}


{% from "components/date-input/_macro.njk" import onsDateInput %}

{{
    onsDateInput({
        "id": "date",
        "legendOrLabel": "Month",
        "description": "For example, 3",
        "month": {
            "label": {
                "text": "Month"
            },
            "name": "month",
            "attributes": {
                "autocomplete": "month"
            }
        }
    })
}}


{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "prefixed",
        "type": "number",
        "width": "10",
        "autocomplete": "off",
        "label": {
            "text": "Price",
            "description": "For example, 35580.77 do not include currency symbol"
        }
    })
}}



{% from "components/textarea/_macro.njk" import onsTextarea %}

{{
    onsTextarea({
        "id": "textarea",
        "name": "feedback",
        "label": {
            "text": "Comments box",
            "description": "If the price has increased or decreased significantly from the previous price provided please give reasons"
        }
    })
}}


{{
    onsButton({
        "text": 'Save and continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'summary',
        "iconType": false
    })
}}

{% endblock %}
