---
group: Prototypes
title: Prices
layout: prices/views/_main
---
{% from "components/date-input/_macro.njk" import onsDateInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set prevPage = "list-collector-2" %}
{% set form = {
    "method": "GET",
    "attributes": {
        "action": pageInfo.rootPath + "/list-collector-3.html"
    }
} %}

{% block main %}
<h1 class="ons-u-fs-xxl">For the period of May 2023, what was the price of BRAZILIAN ELLIOTS PINE PLYWOOD GRADE C+/C?</h1>

<p>We have the following information relating to this item:</p>
<p><strong>Description:</strong> 2440 X 1220 X 18</p>
<p><strong>Serial number:</strong> PSBEN</p>
<p><strong>Payment terms:</strong> NETT MONTHLY</p>
<p><strong>Carriage:</strong> DELIVERED NETT</p>
<p><strong>Customer reference:</strong> DCL</p>
<p><strong>Unit of sale:</strong> PER 10 M SQ</p>
<p><strong>Currency:</strong> POUNDS STERLING</p>
<p><strong>Country of origin:</strong> NOT PROVIDED</p>

{% from "components/panel/_macro.njk" import onsPanel %}

{{
    onsPanel({
        "classes":"ons-u-mt-l",
        "body": '<p>If any of the information relating to this item has changed, provide details in the comments box</p>'
    })
}}

{% from "components/details/_macro.njk" import onsDetails %}
{{
    onsDetails({
        "classes": "ons-u-mt-m ons-u-mb-m",
        "id": "prices",
        "title": "How to enter price quotes",
        "content": "<p>Enter the price for the current month in the price column.</p>
<p>The price quoted should:</p>
<ul>
<li>be a <strong>normal import transaction price</strong>, at the time of order after discounts and excluding VAT and agent's commission</li>
<li>compare product prices <strong>like for like each month</strong></li>
<li>be <strong>representative</strong> of current imports</li>
</ul>
<p>If the price has changed significantly please give reasons. This may prevent us from contacting you again later.</p>
"
    })
}}

{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "prefixed2",
        "width": "10",
        "autocomplete": "off",
        "label": {
            "text": "Price",
            "description": "For example, 35580.77 do not include currency symbol"
        }
    })
}}



{% from "components/textarea/_macro.njk" import onsTextarea %}

{{
    onsTextarea({
        "id": "textarea2",
        "name": "feedback2",
        "label": {
            "text": "Comments box",
            "description": "If the price has increased or decreased significantly from the previous price provided please give reasons"
        }
    })
}}

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "ons-u-mt-l"
        })
    }}
{% endblock %}
