---
group: Surveys
title: Prices
layout: prices/views/_hub
---
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xxl">
            WIRE HARNESS
        </h1>
    </header>
<p>(Description) Other wiring sets</p>
<p>(Serial number) 24010BR11A</p>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Person 2"
    }
  },
  rows: [
    {
      key: {
        text: "Details known"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "whether details are known"
          }
        ]
      }
    },
    {
      key: {
        text: "Relationship to lead tenant"
      },
      value: {
        html: "Partner"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "relationship to lead tenant"
          }
        ]
      }
    },
    {
      key: {
        text: "Age"
      },
      value: {
        html: "42"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "age"
          }
        ]
      }
    },
    {
      key: {
        text: "Working situation"
      },
      value: {
        html: "Unable to work because of long-term sickness or disability"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    }
  ]
}) }}


{# {% from "components/date-input/_macro.njk" import onsDateInput %}

{{
    onsDateInput({
        "id": "date",
        "legendOrLabel": "Month",
        "description": "For example, 3",
        "month": {
            "label": {
                "text": "Month"
            },
            "name": "month",
            "attributes": {
                "autocomplete": "month"
            }
        }
    })
}}


{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "prefixed",
        "type": "number",
        "width": "10",
        "autocomplete": "off",
        "label": {
            "text": "Price",
            "description": "For example, 35580.77 do not include currency symbol"
        }
    })
}}



{% from "components/textarea/_macro.njk" import onsTextarea %}

{{
    onsTextarea({
        "id": "textarea",
        "name": "feedback",
        "label": {
            "text": "Comments box",
            "description": "If the price has increased or decreased significantly from the previous price provided please give reasons"
        }
    })
}}


{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'prices-list-collector',
        "iconType": false
    })
}} #}

{% endblock %}
