---
group: Surveys
title: Prices
layout: prices/views/_hub
---

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "thank-you"
    }
} %}

{% block main %}
    {% from "components/summary/_macro.njk" import onsSummary %}
    {% from "components/button/_macro.njk" import onsButton %}
    {% from "components/panel/_macro.njk" import onsPanel %}

    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xl">
            Submit prices
        </h1>
    </header>
        {% call onsPanel({
            "type": "warn"
        })
    %}
        You must submit this questionnaire  to complete it
    {% endcall %}


{% from "components/summary/_macro.njk" import onsSummary %}

{{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "placeholderText": 'test',
                        "id": "turnover",
                        "rows": [
                            {
                                "id": "sales-dates-row",
                                "rowTitle": "For the period of May 2023, what was the price of WIRE HARNESS?",
                                "rowItems": [
                                    {
                                        "id": "sales-dates",
                                        "valueList": [
                                            {
                                                "text": "39.00"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "prices"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "For the period of May 2023, what was the price of BRAZILIAN ELLIOTS PINE PLYWOOD GRADE C+/C?",
                                "id": "sales-value-row",
                                "rowItems": [
                                    {
                                        "id": "sales-value",
                                        "valueList": [
                                            {
                                                "text": "200.99"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "ariaLabel": "Change answer",
                                                "url": "prices-2"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}

<p>By submitting this questionnaire you are confirming that, to the best of your knowledge and belief, the details provided are correct.</p>
{{
    onsButton({
        "text": 'Submit questionnaire',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'thank-you',
        "iconType": false
    })
}}
{% endblock %}
