{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = { 
    "title": "eQ Prototypes",
    "asideCol": {
        "position": "after",
        "colClasses": "ons-u-mt-l ons-u-mb-l"
    },
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block main %}
  <h1>List of prototypes</h1>
    <p>These are specific prototypes for testing design and interaction hypotheses with end users.</p>
    <p>Can also be shared with developers to confirm best practice for a particular issue relating to user flow / interaction.</p>


    {% set groups = helpers.navigationHelper({ 
        "pages": prototypeListing,
        "ignorePaths": ["/"]
    }) %}
    {% for group in groups %}
      <section>
        <h2 class="u-fs-m">{{ group.title }}</h1>
          {{
            onsList({
                "classes": "ons-list--bare",
                "itemsList": group.items
            })
          }}
      </section>
    {% endfor %}
{% endblock %}
{% block aside %}
  {% from "components/related-content/_macro.njk" import onsRelatedContent %}

          {{ onsRelatedContent({
              "ariaLabel": 'Related content',
              "rows": [
                  {
                      "id": 'related-content',
                      "title": 'Related content',
                      "itemsList": [
                          {
                              "text": 'Trello board',
                              "url": 'https://trello.com/b/K1jisSFp/eq-runner'
                          },
                          {
                              "text": 'Confluence wiki',
                              "url": 'https://confluence.ons.gov.uk/display/SDC/eQ+-+Design'
                          },
                          {
                              "text": 'Design History',
                              "url": '#0'
                          }
                      ]
                  }
              ]
          }) }}
{% endblock %}
