---
group: Prototypes
title: PRODCOM (June 2nd)
layout: prodcom/views/_index
---

{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "GET",
    "attributes": {
        "action":  pageInfo.rootPath + "/section-c-customer"
    }
} %}

{% block main %}


    <header class="ons-patternlib-page__content-header">
        <h1 class="ons-u-fs-xl">
            What is the total value of sales of merchanted goods?
        </h1>
    </header>
<p>Goods purchased for resale without processing.</p>
<div class="ons-field">
    <label class="ons-label ons-label--with-description" for="sales-value">Value of sales</label>
    <span id="description-hint" class="ons-label__description  ons-input--with-description">If exact figures are not available, enter a value to the nearest thousand. For example, 56,000.</span>
    <!--<span id="description-hint" class="ons-label__description  ons-input--with-description" style="margin-bottom: 0;">581309301</span>-->
    <span class="ons-input-type ons-input-type--prefix">
        <span class="ons-input-type__inner">
            <input type="text" class="ons-input ons-input--text ons-input-type__input ons-input-number--w-10" aria-labelledby="annual-salary-gpb-prefix" pattern="[0-9]*" inputmode="numeric" autocomplete="off">
            <abbr id="annual-salary-gpb-prefix" class="ons-input-type__type ons-js-input-abbr" title="British pounds (GBP)">£</abbr>
        </span>
    </span>
</div>
<div class="ons-u-mt-xl">

{{
    onsButton({
        "text": 'Save and continue',
        "classes": 'ons-u-mb-m ons-u-mt-l',
        "url": 'section-c-customer',
        "iconType": false
    })
}}

</div>
{% endblock %}
