---
group: Prototypes
title: Long List (checkboxes)
layout: long-list-checkboxes/views/_main
---

{% set prevPage = "hub" %}
{% set form = {
    "method": "GET",
    "attributes": {
        "action": pageInfo.rootPath + "/hub-complete.html"
    }
} %}

{% from "components/button/_macro.njk" import onsButton %}
{% block main %}

<script>
var results=localStorage.getItem("ddvalue");
results=results.split(",");
var first = results[0].toLowerCase();
document.write(`<h1 class="ons-u-fs-xl">What was your expenditure on ${first}?</h1>`)
</script>

{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "prefixed",
        "type": "number",
        "width": "8",
        "autocomplete": "off",
        "label": {
            "text": "To the nearest thousand pounds"
        },
        "prefix": {
            "title": "British pounds (GBP)",
            "text": "£",
            "id": "annual-salary-gpb-prefix"
        }
    })
}}



{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l'
    })
}}

{% endblock %}
