---
group: Prototypes
title: Long List (checkboxes)
layout: long-list-checkboxes/views/_main
---

{% set prevPage = "hub-complete" %}
{% set form = {
    "method": "GET",
    "attributes": {
        "action": pageInfo.rootPath + "/summary.html"
    }
} %}

{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{% block main %}

<script>
  var results=localStorage.getItem("ddvalue");
  results=results.split(",");
  var selectedServices = results;

document.write(`<div class="ons-summary">
  <div class="ons-summary__group">
    <h2 class="ons-summary__group-title">Summary</h2>
    <div class="ons-summary__items">`)
for (var i = 0 ; i < selectedServices.length ; i++){
    document.write(`
      <div class="ons-summary__item">
        <dl class="ons-summary__row ons-summary__row--has-values">
          <dt class="ons-summary__item-title">
            <div class="ons-summary__item--text">${selectedServices[i]}</div>
          </dt>
          <dd class="ons-summary__values">
            <span class="ons-summary__text">£1,000.00</span>
          </dd>
          <dd class="ons-summary__actions">
            <a href="question" class="ons-summary__button">Change<span class="ons-u-vh">answer for </span></a>
          </dd>
        </dl>
      </div>`)
};
document.write(`<div class="ons-summary__item ons-summary__item--total">
        <dl class="ons-summary__row ons-summary__row--has-values">
          <dt class="ons-summary__item-title">
            <div class="ons-summary__item--text">Grand total</div>
          </dt>
          <dd class="ons-summary__values ons-summary__values--2">
            <span class="ons-summary__text">£123,000.00</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>`)
</script>

{{
    onsButton({
        "text": 'Continue',
        "classes": 'ons-u-mb-m ons-u-mt-l'
    })
}}

{% endblock %}
